.options_apply{
width: 80%;
padding: 5% 10%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
margin-top: 3%;
background-color: rgba(174, 175, 175, 0.278);
}

.apply_card{
    width: 90%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.div_center_cards_all{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:start;
    margin: 3% 0;
}

.div_center_all{
    width: 90%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div_news_all{
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.shake_hands_div{
    width: 80%;
    padding: 0 10%;
    background-color: #1858A8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 10%;
}

.shake_hands_img{
    width: 100%;
    background-image: url(../img/shake_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.card_w_shake{
    width: 30%;
    padding: 2% 5%;
    background-color: white;
    border-top: solid orange 8px;
    margin: 5% 0 0 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.div_all_work_with{
    width: 90%;
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4%;
    border-bottom: solid 0.2px #3333336c;
}

.workwith_crd_d{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    
}

.workwith_crd_d2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.div_all_meeting{
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}