*{
    margin: 0;
    padding: 0;
}

header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #032D62;
    padding: 2% 10%;
}

.div_logo{
    width:5%;
}

.logo{
    width: 100%;
}